/*  */
.video {
  /* width: 50%; */
  min-width: 256px;
  max-width: 256px;
  border-width: 2.5px;
  border-style: solid;
  /* border-color: #FF7E79; */
  /* #767171 */
  border-color: #A6A6A6;
  border-radius: 10px !important;
}

.antmaze_high_dim_agv {
  /* max-width: 100px; */
  /* border-radius: 10px !important; */
}



/*  */

.cpdfu_gradient_text {
  /* font-size: 50px; */
  font-weight: bold;
  background: linear-gradient(to right, #AC55FC, #00B0F0, #AC55FC);
  /* Adjust colors */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.sns_muted_blue {
  color: rgb(72, 120, 208);
}

.sns_muted_purple {
  color: rgb(149, 108, 180);
}

.antmaze_high_dim_item {
  margin-left: 30px;
  margin-right: 30px;
}

.antmaze_high_dim_item img {
  /* width: 50%; */
  /* max-width: 235px; */
  min-width: 180px;
  max-width: 270px;
  border-width: 2.5px;
  border-style: solid;
  border-color: #A6A6A6;
  border-radius: 10px !important;
}

.antmaze_high_dim_item video {
  /* width: 50%; */
  min-width: 150px;
  max-width: 255px;
  border-width: 2.5px;
  border-style: solid;
  /* border-color: #FF7E79; */
  /* #767171 */
  border-color: #A6A6A6;
  border-radius: 10px !important;
  /* (255, 126, 121, 1); */
}



.antmaze_explore_item {
  margin-left: 30px;
  margin-right: 30px;
}

.antmaze_explore_item video {
  /* width: 50%; */
  min-width: 180px;
  max-width: 270px;
  border-width: 2.5px;
  border-style: solid;
  /* border-color: #FF7E79; */
  /* #767171 */
  border-color: #A6A6A6;
  border-radius: 10px !important;
  /* (255, 126, 121, 1); */
}





.splide_cpdfu video {
  /* min-width: 200px; */
  height: auto;
  width: 300px;
  /* height: 240px; */
}

.cpdfu_base_row {
  display: flex;
  justify-content: center;
  gap: calc(5% + 10px);
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

.cpdfu_base_row video {
  min-width: 100px;
  border-radius: 6px;
  /* Rounded corners */
}

@media (max-width: 800px) {
  .cpdfu_base_row {
    flex-wrap: wrap;
  }
}


.row.centered-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.ctrl {
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.replay_lb_suc {
  display: inline-flex;
  align-items: center;
  gap: 6px;
}


:root {
  --media: 240px;
  --gap: calc(8% + 5px);
}

.row3 {
  display: grid;
  grid-template-columns: repeat(3, var(--media));
  grid-template-rows: auto auto;
  grid-template-areas:
    "headL headR headR"
    "left  v1    v2";
  justify-content: center;
  justify-items: center;
  column-gap: var(--gap);
  row-gap: 8px;
  margin-top: 8px;
}

.row3__header--left,
.row3__header--right {
  text-align: center;
  font-weight: 1300;
  color: #333;
  font-size: 18px;
  margin: 0;
}

.row3__header--left {
  grid-area: headL;
}

.row3__header--right {
  grid-area: headR;
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cell--left {
  grid-area: left;
}

.cell--v1 {
  grid-area: v1;
}

.cell--v2 {
  grid-area: v2;
}

.media {
  width: var(--media);
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 6px;
  display: block;
  margin-top: 3px;
}

@media (max-width:900px) {
  .row3 {
    grid-template-columns: var(--media);
    grid-template-areas:
      "headL"
      "headR"
      "left"
      "v1"
      "v2";
  }
}


.splide[id^="splide-"] {
  position: relative;
  padding-bottom: 32px;
}

.splide[id^="splide-"] .splide__pagination {
  bottom: 10px !important;
}

.teaser-video-wrapper {
  max-width: 1120px;
  margin: 0 auto;
}

.teaser-video-wrapper video {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

section.section:not(#abstract):not(#conclusion) .columns.is-centered {
  justify-content: flex-start;
}

section.section:not(#abstract):not(#conclusion) .has-text-centered {
  text-align: left !important;
}

section.section:not(#abstract):not(#conclusion) .title {
  text-align: left;
  margin-left: 0;
}

section.section:not(#abstract):not(#conclusion) {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}
